<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/styles.css"/>
        <script src="/main.js" defer></script>

        <title>Get BTC address history</title>

            
    </head>

    <body>
        <nav class="border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="blue">C</span></a>
                <button
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbar"
                data-bs-toggle="collapse"
                type="button"
                >
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item">
                    <a class="nav-link" href="/placeholder1">placeholder</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/placeholder2">placeholder2</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    
        <main class="container py-5">

            <!-- Address check block -->
            <section id="search-input" class="card shadow-lg border-0 rounded-4 p-5 bg-white">
                <h3>Enter a Bitcoin address to get its balance and history</h3>
                <br>
                <!-- Form -->
                <form action="/" method="get">
                    <p class="mb-3 d-flex">
                        <input autocomplete="off" autofocus class="form-control w-auto me-2" name="address" placeholder="BTC address"
                            type="text">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </p>
                </form>
                <!-- Error in case of wrong results-->
                <div id="error-display"></div>
            </section>

            <!-- Result block -->
            <section id="search-result">
                <!-- Address info block -->
                <div id="address-info"></div>
                <!-- Transaction history block -->
                <div id="tx-history"></div>
            </section>
            
            <!-- Sentinel for infinite scroll -->
            <section id="page-end"></section>

        </main>


        <!-- -------------------------------------------------------------------------------------->
        <!-- Templates (not visible, used by JS) -->
        <!-- -------------------------------------------------------------------------------------->

        <!-- Template d’un bloc "address info" -->
        <template id="address-info-template">
            <section class="address-info">
                <h2>Address</h2>
                <p class="funded"></p>
                <p class="spent"></p>
            </section>
        </template>

        <!-- Template d’une transaction -->
        <template id="tx-template">
            <article class="tx">
                <span class="tx-id"></span>
                <span class="tx-amount"></span>
                <span class="tx-date"></span>
            </article>
        </template>

        <!-- Template error -->

    </body>


            <!-- Address info block -->
            {% if address_info %}
                <br>
                <p>Search result</p>
                <section class="card shadow-lg border-0 rounded-4 p-4 bg-white">
                    <!-- Line 1: Adress -->
                    <h5 class="address-id">
                        <span>Address:</span>
                        <span class="address-id-value">{{ address_info.address_id }}</span>
                    </h5>

                    <!-- Line 2: Confirmed balance -->
                    <div class="address-row">
                        <div class="address-item">
                            <span class="label">Address balance (confirmed transactions):</span>
                            <span class="value">{{ format_amount(address_info.conf_balance) }}</span>
                        </div>
                        <div class="address-item">
                            <span class="label">Number of confirmed transactions:</span>
                            <span class="value">{{ address_info.tx_count }}</span>
                        </div>
                    </div>

                    <!-- Ligne 3 : Pending transaction in mempool -->
                    {% if address_info.pool_tx_count > 0 %}
                        <div class="address-row">
                            <div class="address-item">
                                <span class="label">Pending mempool in/out flow:</span>
                                <span class="value">{{ format_amount(address_info.pool_io_flow) }}</span>
                            </div>
                            <div class="address-item">
                                <span class="label">Number of transactions pending in the mempool:</span>
                                <span class="value">{{ address_info.pool_tx_count }}</span>
                            </div>
                        </div>
                        <div class="address-row">
                            <div class="address-item">
                                <span class="label">Balance including mempool transactions:</span>
                                <span class="value">{{ format_amount(address_info.conf_balance + address_info.pool_io_flow) }}</span>
                            </div>
                        </div>
                    {% else %}
                        <p class="label">No pending transaction in the mempool</p>
                    {% endif %}
                    
                    <!-- Address history block -->
                    {% if tx_history %}
                        <br>
                        <div class="tx-history">
                            {% for tx in tx_history %}
                                <div class="tx-line {% if tx.flow_direction == 'receive' %}receive{% else %}send{% endif %}">
                                    <!-- Arrow -->
                                    <div class="tx-arrow">
                                        {% if tx.flow_direction == 'receive' %}
                                            &#8592; <!-- ← to receive -->
                                        {% else %}
                                            &#8594; <!-- → to send -->
                                        {% endif %}
                                    </div>

                                    <!-- Balance info -->
                                    <div class="tx-info">
                                        <div class="tx-amount">
                                            {{ format_amount(tx.flow_amount) }}
                                        </div>
                                        <div class="tx-balance">
                                            {{ format_amount(tx.new_balance) }}
                                        </div>
                                    </div>

                                    <!-- More info ? -->
                                    <div class="tx-id">
                                        {{ tx.tx_id[:10] }}… 
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    {% endif %}
                </section>

            {% endif %}





</html>

