 <br>
<div class="tx-history">
    {% for tx in tx_history %}
        <div class="tx-line {% if tx.flow_direction == 'receive' %}receive{% else %}send{% endif %}">
            <!-- Arrow -->
            <div class="tx-arrow">
                {% if tx.flow_direction == 'receive' %}
                    &#8592; <!-- ← to receive -->
                {% else %}
                    &#8594; <!-- → to send -->
                {% endif %}
            </div>

            <!-- Balance info -->
            <div class="tx-info">
                <div class="tx-amount">
                    {{ format_amount(tx.flow_amount) }}
                </div>
                <div class="tx-balance">
                    {{ format_amount(tx.new_balance) }}
                </div>
            </div>

            <!-- More info ? -->
            <div class="tx-id">
                {{ tx.tx_id[:10] }}… 
            </div>
        </div>
    {% endfor %}
</div>